CS_HOSTNAME="Counter-Strike 1.6 Server!!!" #не работает, надо разобраться
MAXPLAYERS=32
START_MAP=de_dust2
PORT=27015
RCON_PASSWORD=change-me
SV_PASSWORD=
CPU_MHZ=2300

AMXX_ADMIN_NAME=your_admin_name
AMXX_ADMIN_PASSWORD=change_me