**/*.md
**/*.log
*.dll
*.exe
*.pdb

.env
../.env.example
.dockerignore
.gitattributes

cstrike/dlls
cstrike/cl_dlls
cstrike/maps
cstrike/models
cstrike/sound
cstrike/sprites
cstrike/overviews
cstrike/gfx
cstrike/resource
cstrike/events
cstrike/*.pak
cstrike/*.wad
cstrike/logs

cstrike/addons/amxmodx/logs
cstrike/addons/amxmodx/scripting/testsuite
cstrike/addons/amxmodx/scripting/*.exe
cstrike/addons/reunion/*.dll
cstrike/addons/metamod/*.dll
cstrike/addons/yapb/bin/*.dll
